.meetingsDiv{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;

    position: relative;
    height:100%;
    width:60%;
    background-color: #201E1F;
    margin-left: -5vw;
  }

  @media only screen and (max-width:1000px){
    .meetingsDiv{
      position: static;
      width: 20vw;
    }
  }
