.meetingDiv{
    font-size: 2vmin;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    font-size: small;
    position:absolute;
    margin-top:50px;
    color:white;
    cursor: pointer;
    text-align: center;
    background-color: #464EB8;
    width:100%;
  }

  @media only screen and (max-width:1000px){
    .meetingDiv{
      width: 90%;
    }
  }
