.timingDiv{
    position:absolute;
    margin-top:50px;
    color:gray;
    cursor: pointer;
    text-align: center;
    background-color: #464EB8;
    height:0.4vh;
    width:90%;
    font-size:0.8vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items:center;
  }

.timingDiv:hover{
  color: white;
}