.App{
    background-color: black;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 98vh;
  }

  @media only screen and (max-width:1000px){
    .App{
      height: 100vh;
    }
  }